/* wrapping content for centering the content horizontally */

.content-wrapper {
    padding-left: 20px;
    padding-right: 20px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

/* name surname section */

.name-surname { margin-top: 50px; }

.name-surname .item { padding-left: 10px; }

/* contact information section  */

.contact-information .list { margin-top: 5px; }

.contact-information .item { padding-right: 5px; }


/* body */

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 25px;
}

/* header  */

header { text-align: center; }

header > h1 { margin-top: 50px; }

header > img { margin-top: 10px; }