/* wrapping content for centering the content horizontally */

.content-wrapper {
    padding-left: 20px;
    padding-right: 20px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

/* name surname section */

.name-surname { margin-top: 50px; }

.name-surname .span-item { padding-left: 10px; }

/* contact information section  */

.contact-information .li-item { margin-top: 5px; }

.contact-information .strong-item { padding-right: 5px; }

/* personal summary section  */

.personal-summary .p-item { 
    font-style: italic; 
    letter-spacing: 3px;
}

/* skills section  */

.skills { margin-top: 50px; }

/* code examples section  */

.code-examples { margin-top: 50px; }

.code-examples .code-item {
    background-color: #f6f8fa;
    display: block;
  }

.code-examples .code-margin { margin-top: -38px; }

/* work experience section  */

.work-experience .table-item { 
    width: 500px; 
    font-size: 14px;
}

.work-experience .th-item { padding: 5px; }

.work-experience .td-item { padding: 5px; }

.work-experience .td-bg { background-color: #f6f8fa; }

.table-item, 
.th-item, 
.td-item {
    border: 1px solid #dfe2e5;
    border-collapse: collapse;
  }

/* education section  */

.education { margin-top: 50px; }

/* english language section  */

.english-language { 
    margin-top: 50px; 
    margin-bottom: 50px;
}

/* body */

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 25px;
    color: #24292e;
}

/* header  */

header { text-align: center; }

header > h1 { margin-top: 50px; }

header > img { margin-top: 10px; }