/* wrapping content for centering the content horizontally */

.content-wrapper {
    padding-left: 20px;
    padding-right: 20px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

/* name surname section */

.name-surname { margin-top: 50px; }

.name-surname .span-item { padding-left: 10px; }

/* contact information section  */

.contact-information .li-item { margin-top: 5px; }

.contact-information .strong-item { padding-right: 5px; }

/* personal summary section  */

.personal-summary .p-item { 
    font-style: italic; 
    letter-spacing: 3px;
}

/* code examples section  */

.code-examples .code-item {
    background-color: #f6f8fa;
    display: block;
  }

.code-examples .code-margin { margin-top: -38px; }

/* body */

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 25px;
}

/* header  */

header { text-align: center; }

header > h1 { margin-top: 50px; }

header > img { margin-top: 10px; }